* {
	transition:
		background-color 300ms,
		filter 300ms,
		border-color 300ms;

	border-color: rgb(var(--border));
	outline: none;
}

::selection {
	background-color: rgb(var(--text));
	color: rgb(var(--text));
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(var(--border));
}

body {
	background-color: rgb(var(--background));
	color: rgb(var(--text));
}
