.primary-button {
	@apply text-white bg-main px-4 py-2 shadow-sm rounded-md cursor-pointer;

	&:hover {
		background-color: color-mix(in srgb, rgb(var(--background)) 20%, rgb(var(--primary-color)));
	}

	&:active {
		background-color: color-mix(in srgb, rgb(var(--background)) 40%, rgb(var(--primary-color)));
	}
}

.secondary-button {
	@apply px-4 py-2 shadow-sm rounded-md border cursor-pointer;

	&:hover {
		background-color: color-mix(in srgb, rgb(var(--text)) 10%, rgb(var(--background)));
	}

	&:active {
		background-color: color-mix(in srgb, rgb(var(--text)) 20%, rgb(var(--background)));
	}
}

.clickable-button {
	@apply border-b-2 transition-colors hover:text-opacity-100 hover:border-opacity-100;
}

.hoverable-button {
	@apply underline decoration-dotted decoration-1 cursor-default;
}

.border-button {
	@apply border cursor-pointer hover:border-opacity-100;
}
