@for $i from 0 through 10 {
	@layer utilities {
		.text-opacity-#{10 * $i} {
			color: rgba(var(--text), 0.1 * $i);
		}

		.border-opacity-#{10 * $i} {
			border-color: rgba(var(--text), 0.1 * $i);
		}

		.bg-opacity-#{10 * $i} {
			background-color: rgba(var(--text), 0.1 * $i);
		}
	}
}
